<!DOCTYPE html>
<html>
	<head>
		<!-- Meta tags for character set and responsive design -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- Title for the HTML document -->
		<title>Add New Material</title>

		<!-- Stylesheets for the page, using Flask's url_for for dynamic paths -->
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/login_1.css') }}?{{ cache_id }}" />
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/login.css') }}?{{ cache_id }}" />
	</head>
	<body>
		<!-- Header section with the title of the web application -->
		<header>
			<h1 class="title">
				Ease Inventory Tracker
			</h1>
		</header>

		<!-- Main content section of the page -->
		<section>
			<!-- Container div for the form -->
			<div class="b-container" id="b-container">
				<!-- Form for adding a new material -->
				<form class="form" id="add-material-form" method="post" action="/add_material">
					<!-- Form title -->
					<h2 class="form_title title">Add Material</h2>

					<!-- Input field for Material Name -->
					<label for="material_name">Material Name:</label>
					<input class="form__input" type="text" placeholder="Material Name" name="material_name" required>

					<!-- Input field for Quantity -->
					<label for="quantity">Quantity:</label>
					<input class="form__input" type="number" placeholder="Quantity" name="quantity" required>

					<!-- Input field for Price -->
					<label for="price">Price:</label>
					<input class="form__input" type="number" placeholder="Price" name="price" step="0.01" required>

					<!-- Flash messages display section -->
					{% with messages = get_flashed_messages() %}
					{% if messages %}
					<ul class="flashes">
						{% for message in messages %}
						<li>{{ message }}</li>
						{% endfor %}
					</ul>
					{% endif %}
					{% endwith %}

					<!-- Submit button for the form -->
					<button class="form__button button submit" type="submit">Add Material</button>
				</form>
			</div>
		</section>
	</body>
</html>
